
*{
	border-radius: 15px;
	border: none;
}

window {
	font-size: 28px;
	background-color: rgba(50, 50, 50, 0.9); 
	color: white;
}
#entry{
	padding: 0.50em;
}

#entry:selected {
	background-color: #bbccdd;
	background: white;
}

#text:selected {
	color: #333333;
}

#input{
	background-color: rgba(50, 50, 50, 0.5);
	color: white;
	padding: 0.50em;
}
